# Docker compose for local development with containerization.
services:
  db:
    hostname: db
    image: postgres:18.0-alpine3.22
    restart: unless-stopped
    container_name: db
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend

  expenses-server:
    hostname: expenses-server
    image: ghcr.io/smukherj1/expenses-v2:main
    container_name: expenses-server
    env_file:
      - path: ./.env
        required: true
    ports:
      - "3000:3000"
    networks:
      - backend

volumes:
  db_data:

networks:
  backend:
    driver: bridge
