services:
  db:
    hostname: db
    image: postgres:18.0-alpine3.22
    restart: unless-stopped
    container_name: expenses-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend

  # expenses-server:
  #   image: ghcr.io/smukherj1/expenses-v2:main
  #   env_file:
  #     - path: ./.env
  #       required: true
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - frontend
  #     - backend

volumes:
  db_data:

networks:
  backend:
    driver: bridge
